body     	{ color: #000066; background-color: #D3D3FF; }
:link    	{ color: #0044FF; }
:visited 	{ color: #0044FF; }

/* general classes */

.componentspc
{
display: block;
clear: both;
height: 15px;
}


#mdsform
{
width:840px;
}

.component
{
display: table-cell; 
width: 800px;
background-color: white; 
border-style: solid; 
border-width: 2px; 
border-color: black;
padding: 5px;
clear: both;
margin-bottom: 2px;
font-family: monospace;
}

.caption
{
color: #770077;
font-family: sans-serif;
font-weight: bold;
}

.element
{
display: table-cell; 
width: 700px;
background-color: white; 
padding: 10px;
padding-left: 30px;
margin-bottom: 2px;
}

.label
{}

/* <input type="text"... */
.text
{}

/* <input type="checkbox"... */
.checkbox
{}

/* <input type="radio"... */
.radiobutton
{}

.error
{
border-color:3px;
border-style:solid;
border-color:#FF0000;
}

/*****************************************************************
**  special classes                                                                                                 **
**************************************************************** */

.BOOLEAN
{}

.captionBOOLEAN
{}

.checkboxBOOLEAN
{}

/*********************************************************/

.CHOICE
{}

.captionCHOICE
{}

.elementCHOICE
{}

.lineCHOICE
{
display: block;
padding: 0px;
clear: both;
}

.labelCHOICE
{
display: table-cell; 
clear: right;
padding: 0px;
padding-right: 20px;
}

.radiobuttonCHOICE
{
display: table-cell; 
padding: 0px;
float: left;
margin-right: 20px;
}

.checkboxCHOICE
{
display: table-cell; 
padding: 0px;
float: left;
margin-right: 20px;
}

.otherfieldCaptionCHOICE
{
clear: none;
float: left;
padding-right: 5px;
}

.textCHOICE
{}

.errorCHOICE
{}

/*********************************************************/
.LICKERT
{}

.captionLICKERT
{}

.elementLICKERT
{}

.leftLICKERT
{  			
display: block; 
clear: none;		    
float: left;
padding: 0px;
padding-right: 10px;
}

.rightLICKERT
{
display: table-cell;
padding-left: 10px;
}

.radiobuttonLICKERT
{
float: left;
}

/*********************************************************/

.LIST
{}

.captionLIST
{}

.elementLIST
{}

.selectLIST
{}

.optionLIST
{}

/*********************************************************/

.MATRIX
{
}

.elementMATRIX
{
padding:2px;
font-family: monospace;
}

.captionMATRIX
{}


.evenRowMATRIX
{
padding:3px;
}

.unevenRowMATRIX
{
padding:3px;
}

.firstRowMATRIX
{
font-size:10pt;
width:80px;
background-color:white;

}

.firstColMATRIX
{
font-size:10pt;
width:450px;
text-align:left;
white-space:nowrap;
}

.lastColMATRIX
{}

.evenColMATRIX
{
text-align:center;
}

.unevenColMATRIX
{
text-align:center;
}


.cell1_1MATRIX
{}


/*
.captionMATRIX
{
text-align:left;
}


.topleftMATRIX
{}


.firstrowLastcolMATRIX
{
font-family: monospace;
color: black;

background-color:#F5F5F5;
}

.firstrowMATRIX
{
font-family: monospace;
color: black;

background-color:#F5F5F5;
}

.lightMATRIX
{background-color:#F8F8FF;}

.darkMATRIX
{background-color:#F5F5F5;}

.firstcolMATRIXlight
{
font-family: monospace;
color: black;
}


.firstcolMATRIXdark
{
font-family: monospace;
color: black;
}

.cellMATRIXlight
{}

.cellMATRIXdark
{}

.cellLastcolMATRIXlight
{}

.cellLastcolMATRIXdark
{}


*/
/*********************************************************/

.MEMO
{}

.captionMEMO
{}

.textareaMEMO
{}

/*********************************************************/

.TEXT
{}

.textTEXT
{}

.unitTEXT
{}

.errorTEXT
{}

/*********************************************************/
