body		{
			background-color: #D3D3FF;
			color: #000000;
		}

:link    	{ 
			color: #0044FF; 
		}
		
:visited 	{ 
			color: #0044FF; 
		}

.mainhead	{
			color: #770077;
			font-family: serif;
			font-size: 24pt;			
			font-weight: bold;
		}

.subhead	{	
			color: #770077;
			font-family: monospace;
			font-weight: bold;
			font-size: 16pt;
		}

.commonblk	{
			display: block;
			color: black;
			background-color: white;
			border-color: black;
			border-style: solid;
			border-width: 2px;
			margin-bottom: 20px;
			width: 700px;
			padding: 4px;
			clear: both;
		}
			

