body
{
color: #000000;
background-color: #b6c1ed;
font-size: 12px;
font-family:verdana,arial,helvetica,sans-serif;
}


:link
{color: #002566;}

:visited
{color: #002566;}


/* general classes */

.componentspc
{}

.theForm
{
width:800px;
}

.component
{
display: table-cell;
width: 800px;
background-color: white;
border-style: solid;
border-top-width:1px;
border-left-width:1px;
border-bottom-width:3px;
border-right-width:3px;
padding: 5px;
clear: both;
margin-bottom: 2px;
margin-top: 18px;
font-family: monospace;
}

.caption
{
font-family:verdana,arial,helvetica,sans-serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
color: #234379;
text-align: left;
padding-top: 3px;
padding-left: 3px;
padding-bottom: 3px;

}

.element
{
display: table-cell;
width: 700px;
background-color: white;
padding: 10px;
padding-left: 30px;
margin-bottom: 2px;
}

.label
{}

/* <input type="text"... */
.text
{}

/* <input type="checkbox"... */
.checkbox
{}

/* <input type="radio"... */
.radiobutton
{}

.error
{
border-color:3px;
border-style:solid;
border-color:#FF0000;
}

/*****************************************************************
**  special classes                                                                                                 **
**************************************************************** */

.BOOLEAN
{}

.captionBOOLEAN
{}

.checkboxBOOLEAN
{}

/*********************************************************/

.CHOICE
{}

.captionCHOICE
{}

.elementCHOICE
{}

.lineCHOICE
{
display: block;
padding: 0px;
clear: both;
}

.labelCHOICE
{
display: table-cell; 
clear: right;
padding: 0px;
padding-right: 20px;
}

.radiobuttonCHOICE
{
display: table-cell; 
padding: 0px;
float: left;
margin-right: 20px;
}

.checkboxCHOICE
{
display: table-cell; 
padding: 0px;
float: left;
margin-right: 20px;
}

.otherfieldCaptionCHOICE
{
clear: none;
float: left;
padding-right: 5px;
}

.textCHOICE
{}

.errorCHOICE
{}

/*********************************************************/
.LICKERT
{}

.captionLICKERT
{}

.elementLICKERT
{}

.leftLICKERT
{  			
display: block; 
clear: none;		    
float: left;
padding: 0px;
padding-right: 10px;
}

.rightLICKERT
{
display: table-cell;
padding-left: 10px;
}

.radiobuttonLICKERT
{
float: left;
}

/*********************************************************/

.LIST
{}

.captionLIST
{}

.elementLIST
{}

.selectLIST
{}

.optionLIST
{}

/*********************************************************/

.MATRIX
{}

.elementMATRIX
{
padding-left:20px;
font-family: monospace;
}

.captionMATRIX
{}


.evenRowMATRIX
{
background-color: #cce6ff;
text-align: center;
}

.unevenRowMATRIX
{
background-color: #b6cef6;
text-align: center;
}

.firstRowMATRIX
{
font-family: monospace;
color: black;
background-color:#f9f9f9;
}

.firstColMATRIX
{
font-size:10pt;
width:300px;
text-align:left;

}

.lastColMATRIX
{}

.lastColUnevenRowMATRIX
{
background-color: #fff7ad;
}

.lastColEvenRowMATRIX
{
background-color: #fffbdd;
}

.evenColMATRIX
{
width:80px;
}

.unevenColMATRIX
{
width:80px;
}


.cell1_1MATRIX
{
background-color:#FFFFFF;
}

/*

.cellLastcolMATRIXlight
{
background-color: #fffbdd;
}

.cellLastcolMATRIXdark
{
background-color: #fff7ad;
}
*/

/*********************************************************/

.MEMO
{}

.captionMEMO
{}

.textareaMEMO
{}

/*********************************************************/

.TEXT
{}

.textTEXT
{}

.unitTEXT
{}

.errorTEXT
{}

/*********************************************************/