body 
{
color: black;
background-color: #CCCCCC; 
}

:link    	{ color: #0044FF; }
:visited 	{ color: #0044FF; }

/* general classes */

.componentspc
{
display: block;
width: 800px;
height: 4px;
border-style: solid;
border-width: 1px;
border-color: #DDDDDD;
background-color: white;
clear: both;
margin-bottom: 5px;
}

#mdsform
{
display: block;
width:840px;
background-color:#FFFFFF;

padding:25px;

border-color:#000000;
border-style:solid;
border-width:1px;
}

.component
{
width: 800px;
background-color: white; 

border-style: solid; 
border-width: 0px; 
border-color: #FFFFFF;

padding: 5px;
margin-bottom: 2px;
font-family: monospace;
}

.caption
{
font-family: arial;
font-size:12pt;
font-weight:bold;

background-color:#FFFFFF;
color: black;

float:left;

width:250px;
}

.element
{
width: 500px;


float:left;

background-color: #FFFFFF; 
padding-bottom: 25px;

padding-left: 30px;
margin-bottom: 2px;

}

.label
{}

/* <input type="text"... */
.text
{}

/* <input type="checkbox"... */
.checkbox
{}

/* <input type="radio"... */
.radiobutton
{}

.error
{
border-color:3px;
border-style:solid;
border-color:#FF0000;
}

/*****************************************************************
**  special classes                                                                                                 **
**************************************************************** */

.BOOLEAN
{}

.captionBOOLEAN
{}

.checkboxBOOLEAN
{}

/*********************************************************/

.CHOICE
{}

.captionCHOICE
{}

.elementCHOICE
{}

.lineCHOICE
{
display: block;
padding: 0px;
clear: both;
}

.labelCHOICE
{
clear: right;
padding: 0px;
padding-right: 20px;
}

.radiobuttonCHOICE
{
padding: 0px;
float: left;
margin-right: 20px;
}

.checkboxCHOICE
{
padding: 0px;
float: left;
margin-right: 20px;
}

.otherfieldCaptionCHOICE
{
clear: none;
float: left;
padding-right: 5px;
}

.textCHOICE
{}

.errorCHOICE
{}

/*********************************************************/
.LICKERT
{
  clear: both;
}

.captionLICKERT
{
  padding-bottom: 10px;
}

.elementLICKERT
{}

.leftLICKERT
{  			
display: block; 
clear: none;		    
float: left;
padding: 0px;
padding-right: 10px;
}

.rightLICKERT
{
padding-left: 10px;
}

.radiobuttonLICKERT
{
float: left;
}

/*********************************************************/

.LIST
{}

.captionLIST
{}

.elementLIST
{}

.selectLIST
{}

.optionLIST
{}

/*********************************************************/

.MATRIX
{
padding:0px;
}

.elementMATRIX
{
width:100%;
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:15px;
}

.captionMATRIX
{}

.evenRowMATRIX
{}

.unevenRowMATRIX
{
padding:3px;
}

.firstRowMATRIX
{
font-size:10pt;
width:80px;
background-color:white;

}

.firstColMATRIX
{
font-size:10pt;
width:300px;
text-align:left;
white-space:nowrap;
}

.lastColMATRIX
{}

.evenColMATRIX
{
text-align:center;
}

.unevenColMATRIX
{
text-align:center;
}


.cell1_1MATRIX
{}


/*
.MATRIX
{}

.elementMATRIX
{}

.captionMATRIX
{
text-align:left;
}


.topleftMATRIX
{}


.firstrowLastcolMATRIX
{
font-family: monospace;
color: black;

background-color:#F5F5F5;
}

.firstrowMATRIX
{
font-family: monospace;
color: black;

background-color:#F5F5F5;
}

.lightMATRIX
{background-color:#F8F8FF;}

.darkMATRIX
{background-color:#F5F5F5;}

.firstcolMATRIXlight
{
font-family: monospace;
color: black;
}


.firstcolMATRIXdark
{
font-family: monospace;
color: black;
}

.cellMATRIXlight
{}

.cellMATRIXdark
{}

.cellLastcolMATRIXlight
{}

.cellLastcolMATRIXdark
{}
*/


/*********************************************************/

.MEMO
{}

.captionMEMO
{}

.textareaMEMO
{}

/*********************************************************/

.TEXT
{}

.textTEXT
{}

.unitTEXT
{}

.errorTEXT
{}

/*********************************************************/
