body 
{
color: #FFFFFF;
background-color: #000000;
}

:link    	{ color: #0044FF; }
:visited 	{ color: #0044FF; }

/* general classes */

.componentspc
{
display: block;
width: 800px;
height: 4px;
border-style: solid;
border-width: 0px;
border-color: #FFFFFF;
clear: both;
}

.theForm
{
width:840px;
padding:0px;

border-color:#FFFFFF;
border-style:solid;
border-width:0px;
}

.component
{
width: 800px;

border-style: solid; 
border-width: 0px; 
border-color: #FFFFFF;

padding: 5px;
margin-bottom: 2px;
}

.caption
{
font-family: arial;
font-size:12pt;
font-weight:bold;


float:left;

width:250px;
}

.element
{
width: 500px;


float:left;

padding-bottom: 25px;

padding-left: 30px;
margin-bottom: 2px;

}

.label
{}

/* <input type="text"... */
.text
{}

/* <input type="checkbox"... */
.checkbox
{}

/* <input type="radio"... */
.radiobutton
{}

.error
{
border-color:3px;
border-style:solid;
border-color:#FF0000;
}

/*****************************************************************
**  special classes                                                                                                 **
**************************************************************** */

.BOOLEAN
{}

.captionBOOLEAN
{}

.checkboxBOOLEAN
{}

/*********************************************************/

.CHOICE
{}

.captionCHOICE
{}

.elementCHOICE
{}

.lineCHOICE
{
display: block;
padding: 0px;
clear: both;
}

.labelCHOICE
{
clear: right;
padding: 0px;
padding-right: 20px;
}

.radiobuttonCHOICE
{
padding: 0px;
float: left;
margin-right: 20px;
}

.checkboxCHOICE
{
padding: 0px;
float: left;
margin-right: 20px;
}

.otherfieldCaptionCHOICE
{
clear: none;
float: left;
padding-right: 5px;
}

.textCHOICE
{}

.errorCHOICE
{}

/*********************************************************/
.LICKERT
{}

.captionLICKERT
{}

.elementLICKERT
{}

.leftLICKERT
{  			
display: block; 
clear: none;		    
float: left;
padding: 0px;
padding-right: 10px;
}

.rightLICKERT
{
padding-left: 10px;
}

.radiobuttonLICKERT
{
float: left;
}

/*********************************************************/

.LIST
{}

.captionLIST
{}

.elementLIST
{}

.selectLIST
{}

.optionLIST
{}

/*********************************************************/

.MATRIX
{
padding:0px;
}

.elementMATRIX
{
width:100%;
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:15px;
}

.captionMATRIX
{}

.evenRowMATRIX
{}

.unevenRowMATRIX
{
padding:3px;
}

.firstRowMATRIX
{
width:80px;
}

.firstColMATRIX
{
font-size:10pt;
width:300px;
text-align:left;
white-space:nowrap;
}

.lastColMATRIX
{}

.evenColMATRIX
{}

.unevenColMATRIX
{}


.cell1_1MATRIX
{}

/*********************************************************/

.MEMO
{}

.captionMEMO
{}

.textareaMEMO
{}

/*********************************************************/

.TEXT
{}

.textTEXT
{}

.unitTEXT
{}

.errorTEXT
{}

/*********************************************************/