body 
{
color: black;
background-color: #FFFFFF;
}

:link    	{ color: #0044FF; }
:visited 	{ color: #0044FF; }

/* general classes */

.componentspc
{
display: block;
height: 4px;
border-style: solid;
border-width: 0px;
border-color: #FFFFFF;
background-color: white;
clear: both;
}

#mdsbody
{
background-color:#FFFFFF;

padding:0px;

border-color:#FFFFFF;
border-style:solid;
border-width:0px;
}

.mdssubmit
{
  display: block;
  margin-top: 30px;
}

.component
{
background-color: white; 

border-style: solid; 
border-width: 0px; 
border-color: #FFFFFF;

padding: 3px;
margin-bottom: 2px;
}

.caption
{
font-family: arial;
font-size:12pt;
font-weight:bold;

background-color:#FFFFFF;
color: black;

clear:both

}

.element
{
  display: block;

clear: both;


background-color: #FFFFFF; 
padding: 1px !important;

margin-bottom: 2px;

}

.label
{}

/* <input type="text"... */
.text
{}

/* <input type="checkbox"... */
.checkbox
{}

/* <input type="radio"... */
.radiobutton
{}

.error
{
border-color:3px;
border-style:solid;
border-color:#FF0000;
}

/*****************************************************************
**  special classes                                                                                                 **
**************************************************************** */

.BOOLEAN
{}

.captionBOOLEAN
{}

.checkboxBOOLEAN
{}

/*********************************************************/

.CHOICE
{}

.captionCHOICE
{}

.elementCHOICE
{}

.lineCHOICE
{
display: block;
padding-top: 5px !important;
padding-bottom: 5px !important;
clear: both;
}

.labelCHOICE
{
clear: right;
padding: 0px;
padding-right: 20px;
}

.radiobuttonCHOICE
{
padding: 0px;
float: left;
margin-right: 20px;
}

.checkboxCHOICE
{
padding: 0px;
float: left;
margin-right: 20px;
}

.otherfieldCaptionCHOICE
{
clear: none;
float: left;
padding-right: 5px;
}

.textCHOICE
{}

.errorCHOICE
{}

/*********************************************************/
.LICKERT
{
}

.captionLICKERT
{
  padding-bottom: 10px;
}

.elementLICKERT
{}

.leftLICKERT
{  			
display: block; 
clear: none;		    
float: left;
padding: 0px;
padding-right: 10px;
}

.rightLICKERT
{
  display: table-cell;
padding-left: 5px;
}

.radiobuttonLICKERT
{
float: left;
margin-right: 10px;
}

/*********************************************************/

.LIST
{}

.captionLIST
{}

.elementLIST
{}

.selectLIST
{}

.optionLIST
{}

/*********************************************************/


.MATRIX
{
padding:0px;
}

.elementMATRIX
{
width:100%;
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:15px;
}

.captionMATRIX
{}

.evenRowMATRIX
{}

.unevenRowMATRIX
{
}

.firstRowMATRIX
{
font-size:10pt;
width:80px;
background-color:white;

}

.firstColMATRIX
{
width:150px;
text-align:left;
white-space:nowrap;
}

.lastColMATRIX
{}

.evenColMATRIX
{}

.unevenColMATRIX
{}


.cell1_1MATRIX
{}



/*********************************************************/

.MEMO
{}

.captionMEMO
{}

.textareaMEMO
{}

/*********************************************************/

.TEXT
{}

.textTEXT
{}

.unitTEXT
{}

.errorTEXT
{}

/*********************************************************/
