body     	{
  			color: black; 
			font-family: Verdana, Arial, Helvetica, sans-serif; 
			font-size: 11px;		      
		}

:link    	{ color: #0044FF; }
:visited 	{ color: #0044FF; }

h1		{
			font-family: Helvetica, Arial, Verdana, sans-serif; 
			font-size: 28px; 
			color: #2094B9; 
			text-decoration: none; 
			font-weight: bold   
		}
		
h2		{
			font-family: Helvetica, Arial, Verdana, sans-serif; 
			font-size: large; 
			color: #82BCC7; 
			text-decoration: none; 
			font-weight: bold;
		}

#mdsbody	{
  			display: block;
			width: 840px;
			padding: 25px;
			clear: both;
			background-color: white;
			border-style: solid;
			border-width: 1px;
			border-color: blue;
  	        }
		
#mdscomponent	{
  			display: table-cell; 
			width: 800px;
			padding: 5px;
			clear: both;
			margin-bottom: 2px;
		}

#mdselement	{
  			display: table-cell; 
			padding: 10px;
			padding-top: 0px;
			padding-left: 30px;
			margin-bottom: 2px;
			text-align: top;
			width: 500px;
		}

#mdscaption	{
			color: black;
			font-family: Verdana, Arial, Helvetica, sans-serif; 
			font-size: x-small; 
			text-decoration: none; 
			font-weight: normal;
		}

#mdsquestion	{
			font-family: Helvetica, Arial, Verdana, sans-serif; 
			color: black;
			text-decoration: none; 
			font-weight: bold;
  			display: table-cell;
			width: 250px;
			padding-right: 20px;
			float: left;
		}

.componentspc	{
  			display: block;
			width: 800px;
			height: 4px;
			border-style: solid;
			border-width: 1px;
			border-color: #DDDDDD;
			background-color: white;
			clear: both;
		}

.CHOICErb	{
  			display: table-cell; 
			padding: 0px;
			float: left;
			margin-right: 20px;
		}

.CHOICEcb	{
  			display: table-cell; 
			padding: 0px;
			float: left;
			margin-right: 20px;
		}

.CHOICEline	{
  			display: block;
			padding: 0px;
			clear: both;
		}

.CHOICElabelcap	{
  			display: table-cell; 
			clear: right;
			padding: 0px;
			padding-right: 20px;
		}
		
.CHOICEother	{
  			clear: none;
			float: left;
			padding-right: 5px;
		}

.LICKERTleftcap	{
  			display: block; 
  			clear: none;		    
			float: left;
			padding: 0px;
			padding-right: 10px;
		}

.LICKERTrightcap {
  			display: table-cell;
			padding-left: 10px;
  		}

.LICKERTrb	{
			float: left;
		}

.MATRIXtitlecap	{
  			display: table-cell; 
			text-align: left;
		}

.IMPORTlabel	{
  			display: block;
			width: 180px;
			font-weight: bold;
			float: left;
		      }






