body     	{ color: #990044; background-color: #FFCCCC }
:link    	{ color: #0044FF; }
:visited 	{ color: #0044FF; }

/* general classes */

.componentspc
{}

.theForm
{
width:800px;
font-size:12pt;
}

.component
{
width: 800px;

border-style: solid; 
border-width: 0px; 
border-color: black;
padding: 5px;
clear: both;
margin-bottom: 2px;
}

.caption
{
color: #880033;
font-family: sans-serif;
font-weight: bold;
font-size: 18pt;
}

.element
{
width: 800px;

font-family: serif;
font-size: 14pt;
font-style: italic;
color: #660000;

padding:10px;
padding-left: 30px;
margin-bottom: 2px;
}

.label
{}

/* <input type="text"... */
.text
{}

/* <input type="checkbox"... */
.checkbox
{}

/* <input type="radio"... */
.radiobutton
{}

.error
{
border-color:3px;
border-style:solid;
border-color:#FF0000;
}

/*****************************************************************
**  special classes                                                                                                 **
**************************************************************** */

.BOOLEAN
{}

.captionBOOLEAN
{}

.checkboxBOOLEAN
{}

/*********************************************************/

.CHOICE
{}

.captionCHOICE
{}

.elementCHOICE
{}

.lineCHOICE
{
display: block;
padding: 0px;
clear: both;
}

.labelCHOICE
{
display: table-cell; 
clear: right;
padding: 0px;
padding-right: 20px;
}

.radiobuttonCHOICE
{
display: table-cell; 
padding: 0px;
float: left;
margin-right: 20px;
}

.checkboxCHOICE
{
display: table-cell; 
padding: 0px;
float: left;
margin-right: 20px;
}

.otherfieldCaptionCHOICE
{
clear: none;
float: left;
padding-right: 5px;
}

.textCHOICE
{}

.errorCHOICE
{}

/*********************************************************/
.LICKERT
{}

.captionLICKERT
{}

.elementLICKERT
{}

.leftLICKERT
{  			
display: block; 
clear: none;		    
float: left;
padding: 0px;
padding-right: 10px;
}

.rightLICKERT
{
display: table-cell;
padding-left: 10px;
}

.radiobuttonLICKERT
{
float: left;
}

/*********************************************************/

.LIST
{}

.captionLIST
{}

.elementLIST
{}

.selectLIST
{}

.optionLIST
{}

/*********************************************************/

.MATRIX
{
padding:0px;
}

.elementMATRIX
{
padding:2px;
}

.captionMATRIX
{}


.evenRowMATRIX
{}

.unevenRowMATRIX
{}

.firstRowMATRIX
{
width:80px;
}

.firstColMATRIX
{
width:300px;
text-align:left;
white-space:nowrap;
}

.lastColMATRIX
{}

.evenColMATRIX
{}

.unevenColMATRIX
{}


.cell1_1MATRIX
{}


/*
.MATRIX
{

}

.elementMATRIX
{}

.captionMATRIX
{
text-align:left;
}


.topleftMATRIX
{}


.firstrowLastcolMATRIX
{

}

.firstrowMATRIX
{

}

.lightMATRIX
{}

.darkMATRIX
{}

.firstcolMATRIXlight
{
}


.firstcolMATRIXdark
{
}

.cellMATRIXlight
{}

.cellMATRIXdark
{}

.cellLastcolMATRIXlight
{}

.cellLastcolMATRIXdark
{}


*/
/*********************************************************/

.MEMO
{}

.captionMEMO
{}

.textareaMEMO
{}

/*********************************************************/

.TEXT
{}

.textTEXT
{}

.unitTEXT
{}

.errorTEXT
{}

/*********************************************************/