body		{
			background-color: #D3D3FF;
			color: #000000;
		}

h1		{
			color: #770077;
			font-family: serif;
			font-size: 24pt;			
			font-weight: bold;
		}

h2		{	
			color: #770077;
			font-family: monospace;
			font-size: 14pt;
		}


